:root {
    --fg: #333;
    --bg: #eee;
    --bg_light: #ddd;
    --bg_medium: #ccc;
    --bg_dark: #333;
    --medium: #aaa;
    --primary: #25b76c;
    --primary_light: #15a75c;
    --primary_dark: #05974c;
    --spacing: 0.5rem;
    --radius: calc(var(--spacing) / 2);
    --shadow: 
        calc(var(--spacing) / 4) 
        calc(var(--spacing) / 2) 
        calc(var(--spacing) / 2)
        calc(var(--spacing) / 4) 
        rgba(0, 0, 0, 0.2);
}

* {
    box-sizing: border-box;
}

html {
    background: repeating-linear-gradient(30deg,#dee2e6,#e9ecef 6em) fixed;
    color: var(--fg);
    font-family: sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    padding: var(--spacing) calc(2 * var(--spacing));
}

form {
    display: flex;
    flex-direction: column;
    background: var(--bg);
    padding: calc(var(--spacing) * 2);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    width: 100%;
    max-width: 800px;
}
form > *:not(:first-child) {
    margin-top: calc(var(--spacing) * 2);
}

label {
    display: flex;
    flex-direction: column;
    background: var(--bg_light);
    padding: var(--spacing) calc(2 * var(--spacing));
    border-radius: var(--radius);
    overflow: hidden;
}

input {
    font-size: 1em;
    background: var(--bg_medium);
    border: none;
    margin: calc(-1 * var(--spacing)) calc(-2 * var(--spacing));
    margin-top: var(--spacing);
    padding: inherit;
    color: var(--fg);
}

button {
    font-size: 1em;
    padding: var(--spacing) calc(var(--spacing) * 2);
    background: var(--primary);
    border: none;
    color: var(--fg);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    border-width: 0px;
    border-style: solid;
    border-color: var(--primary_light);
    border-bottom-width: calc(var(--spacing) / 2);
}

button:not(:disabled):hover {
    background: var(--primary_light);
    border-color: var(--primary_dark);
}

button:not(:disabled):active {
    background: var(--primary_light);
    border-color: var(--primary_dark);
    border-bottom-width: 0px;
    border-top-width: calc(var(--spacing) / 2);
}